*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.footer{
    background-color: #dbdbdb;
    min-width: 100%;

}
.navlink{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}

.navlink a {
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    
}

.footfig{
    display: flex;
    margin-left: 50px;
}
.mastercard{
    width: 110px;
    height: 70px;
    margin-left: 150px;
}
.visa {
    width: 100px;
    height: 70px;
    margin-left: 30px;
}
.interswitch{
    width: 120px;
    height: 60px;
    margin-left: 30px;
}
.paystack{
    width: 150px;
    height: 70px;
    margin-left: 30px;
}
.terms{
    margin-left: 50px;
    text-align: left;
    margin-top: 20px;
}
.fb{
    margin-top: 15px;
    margin-right: 15px;
}

.ig{
    margin-top: 15px;
}

/* media queries */

@media screen and (max-width:391px){
    .navlink{
        margin-left: 10px;
      
    }

    .navlink a {
        font-size: 14px;
        margin-left: 9px;
        margin-right: 9px;
        
        
    }
    .footfig{
        margin-top: 10px;
        margin-left: 20px;
    }

    .mastercard{
        width: 50px;
        height: 30px;
        margin-left: 15px;
        margin-top: 15px;
    }

    .visa {
        width: 50px;
        height: 30px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .interswitch{
        width: 50px;
        height: 30px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .paystack{
        width: 50px;
        height: 30px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .terms{
        width: 360px;
        margin-left: 15px;
        text-align: left;
        margin-top: 20px;
    }

}