.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #00000085;
	z-index: 10;
}

.shoppingBag {
	width: 60%;
	height: 90%;
	margin: 2rem auto;
	background-color: #eee;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	position: relative;
}

.shoppingBag .bag-header {
	display: flex;
	background-color: #ccc;
	padding: 10px 20px;
	justify-content: space-between;

}

.close-btn {
	color: #384353
}

.empty-text {
	display: block;
	padding: 2rem;
	margin: auto;

}

.bag-products {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem 0;
	overflow-y: scroll;
}

.bag-product {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #fff;
	padding: 10px 20px;
	border: 3px solid #eee;
}


.product-info {
	flex-basis: 50%;
}

.product-info h3 {
	font-weight: 400;
	font-size: 1rem;
}

.bag-product select {
	width: 70px;
	font-size: 1rem;
	outline: none;
}

.bag-products img {
	width: 100px;
	background-color: #fff;
}

.checkout-btn {
	background-color:#384353;
	padding: 10px 20px;
	font-size: 1rem;
	color: #f8f4e7;
	align-self: center;
	margin: 2rem 0;
}


 /* media queries */

@media screen and (max-width:391px){

.shoppingBag {
	width: 370px;
	height: 90%;
	position: absolute;
	
}
.product-info h3 {
	font-size: 12px;
	margin-left: 5px;
	text-align: center;
}

.bag-product select {
	width: 70px;
	font-size: 12px;
	margin-right: 15px;
  
}

.bag-product span {
	font-size: 12px;
	margin-left: 15px;
}
.products {
	width: 375px;
}
.product img {
	width: 171.5px;
	height: 154px;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;

}

.product .description {
	width: 170px;
	margin-left: 8px;
   
}
.product .buttons {
	position: relative;
	top: -153px;
	left: 8px;
	width: 171px;
	height: 71%;
   
	
}
}