@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-color: #E3A410;
   
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; 
  background-color: #E3A410;
 
}

.container{
  display: flex;
  width: 100%;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
 
}


.searchForm {
    width: 30%;
    margin-left: 80px;
    padding: 1rem 0 0 0.75rem;
  }
  
  .searchForm input[type="text"] {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-height: 48px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    outline: none;
    color: #333;
  }
  .searchForm label {
    position: absolute;
    left: -99999px;
  }

  .searchForm input:focus {
    background-color: #f9decc;
  }

.Nav {
    width: 100%;
    background-color: #E3A410;
    display: flex;
    flex-direction: column;
    
   
}
.formz{
   max-width: 100%;
   display: flex;
}
 
  .navigation{
    font-size: 20px;
    display: flex;
    margin-left: 300px;
    /* justify-content: center;  */
    align-items: center;
    background-color:#E3A410;
    padding: 1rem 0 0 0.75rem;
  }
  .navigation ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
  }
  .navigation li{
    margin-left: 50px;
    margin-right: 50px;
  }
  .navigation li a {
    width: 100px;
    color: #333;
  
  }
  .navigation li:hover, :focus {
    background-color: #e70e0e;
   
}
  
   /* media queries */

 @media screen and (max-width:391px){

  
.searchForm {
  width: 50%;
  margin-left: 6px;
  padding: 1rem 0 0 0.75rem;
}

.searchForm input[type="text"] {
  min-height: 28px;
  font-size: 1rem;

}
 }
 



    

 

